* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: "itc-benguiat", serif;
  font-style: normal;
  font-size: 20px;
  line-height: 150%;
  background-color: #dff6f6;
  background-image: url("../img/stranger-things.png");
  background-size: cover;
  color: #2291e2;
}

canvas {
  display: block;
  /* vertical-align: bottom; */
}


/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 48%;
}

/* ------------ */

.logo {
  width: 70%;
  max-width: 520px;
}

h1 {
  width: 100%;
  padding-top: 1em;
  margin: 0;
  font-family: "Unlock", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  text-align: center;
}

.container {
  background: radial-gradient(50% 50% at 50% 50%,
    rgba(167, 237, 237, 0.3) 0%,
    rgba(156, 226, 226, 0) 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.hide {
  display: none;
}

.highlight {
  padding: 0.25em;
  font-size: 1.5em;
  color: #bd170b;
}

.underline {
  border-bottom: 2px solid #fff;
  padding-bottom: 3px;
}

.word-in-progress {
  letter-spacing: 15px;
  color: #2291e2;
  font-size: 30px;
}

.guessed-letters {
  padding: 0;
  list-style: none;
}

.guessed-letters li {
  display: inline-block;
  padding: 0 0.5em;
}

.message {
  text-align: center;
}

.guess-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guess-form label {
  width: 100%;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
}

input {
  width: 2.25em;
  text-align: center;
  font-size: 1.5em;
  margin: 1em 0 0.75em 0;
  padding: 0.5em;
  border: 3px solid #000;
  box-shadow: 0 0 24px #bd170b;
}

input:active,
input:focus {
  outline: 0;
  border: 4px solid #000;
}

.guess,
.play-again {
  padding: 0.25em 0.75em;
  border-radius: 20px;
  margin-top: 1em;
  color: #bd170b;
  background: #000;
  font-size: 1.5em;
  text-transform: uppercase;
  align-self: center;
  outline: none;
  border: 0;
  cursor: pointer;
}

.guess:active,
.play-again:active,
.guess:focus,
.play-again:focus,
.guess:hover,
.play-again:hover {
  outline: 0;
  transform: scale(0.98);
  background: brightness(0.3);
  color: white;
}

/* animatied background */
.win {
  padding: 0 1em;
  background: linear-gradient(-45deg, #fff, #3c78c7);
  background-size: 400% 400%;
  animation: gradient 2s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}